################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AWA.BusinessRules/obj
/AWA.BusinessRules/bin/Debug/net7.0
